*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(#242623,#363437);
    padding: 24px;
    overflow: hidden;
}

header{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 100px;
}

header a{
    text-decoration: none;
    color: white;
    font-size: 17px;
}

.header_center{
    display: flex;
    align-items: center;
    gap: 25px;
}

button{
    height: 30px;
    width: 150px;
    border: 1px solid white;
    border-radius: 20px;
    background-color: transparent;
    color: white;
    font-size:medium;
}

.block{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 50px;
}

.bottles{
    display: flex;
    align-items: flex-end;
    gap: 30px;
}

.icon4{
    filter: invert(70%);
}
.block-left{
    margin-right: 30px;
}
.block-left img{
   margin-bottom: 24px;
}
.block-right{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.block-right1{
    transform: translateY(200%);
}
.block-right2{
    transform: translateY(200%);
}
.block-right3{
    transform: translateY(200%);
}
.block-right_to_top{
    transform: translateY(0%);
    transition: .6s ease;
}
.block-right1 h1{
    color: white;
    margin-bottom: 20px;
}
.block-right1 h3{
    color: white;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 10px;
}
.block-right1 p{
    color: #978d97;
    margin-bottom: 24px;
}

.flex{
    display: flex;
    align-items: center;
    gap: 10px;
}

.flex1:nth-child(1){
    width: 120px;
    height: 130px;
    background-color: #9A1339;
}
.flex1{
    width: 120px;
    height: 130px;
    background-color: #3C3C3C;
    margin-bottom: 10px;
}
.p2{
    font-size: 12px;
    font-weight: 300;
    width: 300px;
}

.p1{
    width: 600px;
}
.block-right3{
    height: 400px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.block-right3_bottom{
    width: 200px;
    height: 250px;
    background-color: rgb(0, 0, 0);
    transform: translate(170px, 140px);
}

.block-right3_top p{
    color: white;
    transform: translate(150px);
}

.block-right3_bottom h2{
    color: white;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 0;
    font-size: 30px;
}

.block-right3_bottom p{
    color: white;
    text-align: center;
    margin-top: 10px;
}

.red-area{
    height: 70px;
    width: 100%;
    background-color: red;
    margin-top: 87px;
}